{% load crispy_forms_tags %}
{% block myheader %}
<div class="page-header">
    <h1 class="text-center">MGB <small>School Grading and Reporting <small>System</small></h1>
</div>
{% endblock %}

{% block content %}

<style>
    form{
        width: 100%;
    }
    form .btn{
        width: 50%;
    }
    form a{
        margin: 0rem auto;
        text-align: center;

    }


</style>

<div class="card shadow p-3 pb-5 mt-5 ml-auto mr-auto" style="width: 500px; height: 100%;">
    <div class="text-center mt-0">
        <h2 class="text-muted">LOGIN FORM</h2>
    </div>

    <form action="{% url 'home' %}" method="post" class="site-form mt-3">
        {% csrf_token %}
        {{form|crispy}}
        <input type="checkbox" onclick="myFunction()"> Show Password
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3" style="text-decoration: none">
        </div>
        {% if request.GET.next%}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <input type="submit" value="Login" class="btn btn-block mr-auto ml-auto text-white my-3"
            style="background-color: #2b3250;">

        
           {% comment %} <p class="text-center">You do not have an account? </p> 
           <center>
            <a href="{% url 'signup' %}" class="btn btn-outline-info btn-sm">Register</a>
           </center> {% endcomment %}
           
    </form>
        <a style="text-decoration: none; text-align: right; " href="#">&copy MGB-YVS 20949</a>
{% endblock %}
