{% extends 'BoardPage.html' %}
{% load crispy_forms_tags %}
{% block body %}

<table class="table" > 
    {% comment %} <a style="background-color: #080808; border: #080808;" href="{% url 'addBoard' %}" class="btn btn-primary mb-3">Add New Board</a> {% endcomment %}
     <br>
     <thead>
        <tr>
            <th>
             LISTS OF BOARD Members</label>&nbsp&nbsp
                  
                {% comment %} <input type="text" name = "board" id="board" style="background-color: red; border: #080808;" > {% endcomment %}
   
            </th>
            </table>



<table class="table" > 
    {% comment %} <a style="background-color: #080808; border: #080808;" href="{% url 'addBoard' %}" class="btn btn-primary mb-3">Add Board</a> {% endcomment %}
     <br>
     <thead>
 
  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  

<script>
  $( function() {

    $( "#board" ).autocomplete({
      source: '{% url 'ajaxSearch' %}' 
    });
  } ); 
  </script>

    <br>
    
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>DEGREE</th>
            <th>Recruit Year</th>
            <th>Telephone</th>
            <th>Email</th>
            

            {% comment %} <th colspan="2" style="text-align: center;">Actions</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <td>{{board.f_name}}</td>
            <td>{{board.l_name}}</td>
            <td>{{board.gender}}</td>
            <td>{{board.degree}}</td>
            <td style="text-align: center;">{{board.recruit_year}}</td>
            <td>{{board.phone}}</td>
            <td>{{board.email}}</td>
            
            {% comment %} <td><a href="{% url 'board_update' board.id %}" class="btn btn-sm btn-success">Update</a></td>
            <td><a href="{% url 'board_delete' board.id %}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}