
{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	


<div class="container">
  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
                   <p class="widget-title">MGB Schools Reporting System<span></span></p>
         
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2">

            <div class="widget no-box">
              <h5 class="widget-title">Contact Us

              <p><a href="mailto:info@domain.com" title="Contact Us">
                  <p style="text-decoration: none; color: #fff;">mugaboyves1@gmail.com</a></p></h5>
             
             
            </div>
    
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          
            Copyright Schools System © 2021. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>