{% extends 'mainStaff.html' %}
{% load static %}

{% block jquery %}
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts").on('change', function () {
            var district = $("#districts").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts2").on('change', function () {
            var district = $("#districts2").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors2").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts3").on('change', function () {
            var district = $("#districts3").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors3").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts4").on('change', function () {
            var district = $("#districts4").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors4").html(data)
            });
        })
    })
</script>

<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors").on('change', function () {
            var sector = $("#sectors").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $("#schools").html(data)
            });
        })
    })
</script>



<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors2").on('change', function () {
            var sector = $("#sectors2").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $("#res2").html(data)
            });
        })
    })

</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors3").on('change', function () {
            var sector = $("#sectors3").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $('#res4').html(data)
                $("#res3").html(data)
            });
        })
    })

</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors4").on('change', function () {
            var sector = $("#sectors4").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $('#res5').html(data)
                $("#res6").html(data)
            });
        })
    })

</script>
{% endblock %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">
            Generate Report on Membership Fee Based on Year
        </button>
        

    </div>
  

    
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal2">
            --------------------------------- 
        </button>
    </div>

    <div class="col-md-4">
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal3">
            Generate Report Based on Annual Budget Based on Year
        </button>
    </div>
</div>


<br><br>


<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based on Year of Your choice</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='{% url 'yearMembershipReport' %}' target="_blank">
                    <div class="form-group">
                        <label for="">Select Year:</label>
                         <select class="form-control" name="year" id="year">
                            <option selected>Select Year</option>
                             {% for year in years %}
                            <option value="{{year.id}}">{{year.year_name}}</option>
                            {% endfor %} 
                        </select> 
                    </div>
      

                        <button class="btn btn-primary btn-sm">Generate  Report</button>
                    </form>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            {% comment %} <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Select Site:</label>
                               
                            </div>
                        </div>
                    </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Select Year:</label>
                                
                            </div>
                        </div>
                    </div>
                    </div>

                

                    <button class="btn btn-primary btn-sm">Generate Report</button>
                </form>
            </form>
            </div>

        </div> {% endcomment %}

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>






<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based Annual Budget</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='{% url 'yearBudgetReport' %}' target="_blank">
                    <div class="form-group">
                        <label for="">Select Year:</label>
                         <select class="form-control" name="year" id="year">
                            <option selected>Select Year</option>
                             {% for year in years %}
                            <option value="{{year.id}}">{{year.year_name}}</option>
                            {% endfor %} 
                        </select> 
                    
                                <button class="btn btn-primary btn-sm">Generate Report</button>
                            </form>

                    
                    </form>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>














<br><br>
<div class="row">
	<div class="col-md-6">
		<canvas id="myChart" width="200" height="100"></canvas>
	</div>

	<div class="col-md-6">
		<canvas id="myChart1" width="200" height="100"></canvas>
	</div>
</div>
<br><br>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Male Student', 'Female Student'],
        datasets: [{
            label: '# of Student Gender',
            data: ['{{malestd}}', '{{femalestd}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 13, 1)',
                'rgba(54, 162, 23, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const ctx1 = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
        labels: ['Male Director' , 'Female Director'],
        datasets: [{
            label: '# of Director Gender',
            data: ['{{malecoo}}', '{{femalecoo}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
				'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>

{% endblock %}