{% extends 'mainBoard.html' %}
{% load static %}

{% block jquery %}
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts").on('change', function () {
            var district = $("#districts").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts2").on('change', function () {
            var district = $("#districts2").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors2").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts3").on('change', function () {
            var district = $("#districts3").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors3").html(data)
            });
        })
    })
</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#districts4").on('change', function () {
            var district = $("#districts4").val();
            console.log(district)
            $.get("/dataDistrict?district=" + district, function (data, status) {
                //$('#response').html(data)
                $("#sectors4").html(data)
            });
        })
    })
</script>

<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors").on('change', function () {
            var sector = $("#sectors").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $("#schools").html(data)
            });
        })
    })
</script>



<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors2").on('change', function () {
            var sector = $("#sectors2").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $("#res2").html(data)
            });
        })
    })

</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors3").on('change', function () {
            var sector = $("#sectors3").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $('#res4').html(data)
                $("#res3").html(data)
            });
        })
    })

</script>
<script>
    $(document).ready(function () {
        //alert(6778)
        $("#sectors4").on('change', function () {
            var sector = $("#sectors4").val();
            console.log(sector)
            $.get("/dataSchool2?sector=" + sector, function (data, status) {
                //$('#response').html(data)
                $('#res5').html(data)
                $("#res6").html(data)
            });
        })
    })

</script>
{% endblock %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">
            Generate Report Based on Single School
        </button>
        

    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal2">
            Generate Report Based on Disability
        </button>
    </div>

    
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal3">
            Generate Report for School Comparision
        </button>
    </div>
</div>


<br><br>
<br><br>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal4">
            Generate Report Based on School Courses
        </button>
        

    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal5">
            Generate Report Based on School Clades
        </button>
    </div>

    
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal6">
            Generate Report for School Gender Comparision
        </button>
    </div>
</div>


<br><br>


<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based on School chosen</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                    <div class="form-group">
                        <label for="">School:</label>
                        {% comment %} <select class="form-control" name="station" id="stations">
                            <option selected>Select RIBStation</option>
                             {% for station in rib_stations %}
                            <option value="{{station.id}}">{{station.station_name}}</option>
                            {% endfor %} 
                        </select> {% endcomment %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Case:</label>
                                {% comment %} <select class="form-control" name="case" id="cases">
                                    <option selected>Select Case</option>
                                     {% for case in cases %}
                            <option value="{{case.id}}">{{case.case_name}}</option>
                            {% endfor %} 
                                </select> {% endcomment %}
                            </div>
                        </div>

                    </div>
                       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Case Officer:</label>

                                    {% comment %} <select class="form-control" name="officer" id="schools">
                                        <option selected>Select Officer</option>
                                         {% for stationuser in station_user %}
                                        <option value="{{stationuser.id}}">{{stationuser.user}}</option>
                                        {% endfor %} 
                                    </select> {% endcomment %}
                                </div>
                            </div>
                        
                        </div>

                        <button class="btn btn-primary btn-sm">Generate School Report</button>
                    </form>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>






<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based Disabilities</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Disability Type:</label>
                                {% comment %} <select class="form-control" name="station" id="stations">
                                    <option selected>Select RIBStation</option>
                                    {% for stations in rib_stations %}
                                    <option value="{{stations.id}}">{{stations.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Case:</label>
                                {% comment %} <select class="form-control" name="case" id="cases">
                                    <option selected>Select Case</option>
                                    {% for case in cases %}
                            <option value="{{case.id}}">{{case.case_name}}</option>
                            {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>

                    </div>
 
                                <button class="btn btn-primary btn-sm">Generate Disability Report</button>
                            </form>

                    
                    </form>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based on Comparing Two schools</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">School 1:</label>
                                {% comment %} <select class="form-control" name="station1" id="station1">
                                    <option>Select RIBStation</option>
                                    {% for station1 in rib_stations %}
                                    <option value="{{station1.id}}">{{station1.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                
                <div class="form-group">
                    <label for="">Clade Level:</label>
                    <select class="form-control" name="crimetype" id="crimetype">
                        <option selected disable>Select Clade</option>
                        <option value="Clade1">Clade1</option>
                        <option value="Clade2">Clade2</option>
                        <option value="Clade3">Clade3</option>
                    </select>
                </div>

                
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">School 2:</label>
                                {% comment %} <select class="form-control" name="station2" id="station2">
                                    <option selected>Select RIBStation</option>
                                    {% for station2 in rib_stations %}
                                    <option value="{{station2.id}}">{{station2.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    </div>

                

                    <button class="btn btn-primary btn-sm">Generate Comparison Report</button>
                </form>
            </form>
            </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based School Courses</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">School:</label>
                                {% comment %} <select class="form-control" name="station" id="stations">
                                    <option selected>Select RIBStation</option>
                                    {% for stations in rib_stations %}
                                    <option value="{{stations.id}}">{{stations.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Course:</label>
                                {% comment %} <select class="form-control" name="case" id="cases">
                                    <option selected>Select Case</option>
                                    {% for case in cases %}
                            <option value="{{case.id}}">{{case.case_name}}</option>
                            {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>

                    </div>
 
                                <button class="btn btn-primary btn-sm">Generate Course Report</button>
                            </form>                  
                    </form>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based School Clade</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">School:</label>
                                {% comment %} <select class="form-control" name="station" id="stations">
                                    <option selected>Select RIBStation</option>
                                    {% for stations in rib_stations %}
                                    <option value="{{stations.id}}">{{stations.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Clade:</label>
                                {% comment %} <select class="form-control" name="case" id="cases">
                                    <option selected>Select Case</option>
                                    {% for case in cases %}
                            <option value="{{case.id}}">{{case.case_name}}</option>
                            {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>

                    </div>
 
                                <button class="btn btn-primary btn-sm">Generate Clade Report</button>
                            </form>                  
                    </form>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Generate report based School Gender</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="search" action='' target="_blank">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">School:</label>
                                {% comment %} <select class="form-control" name="station" id="stations">
                                    <option selected>Select RIBStation</option>
                                    {% for stations in rib_stations %}
                                    <option value="{{stations.id}}">{{stations.station_name}}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                 
                                <button class="btn btn-primary btn-sm">Generate Gender Report</button>
                            </form>                  
                    </form>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>








<br><br>
<div class="row">
	<div class="col-md-6">
		<canvas id="myChart" width="200" height="100"></canvas>
	</div>

	<div class="col-md-6">
		<canvas id="myChart1" width="200" height="100"></canvas>
	</div>
</div>
<br><br>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Male Student', 'Female Student'],
        datasets: [{
            label: '# of Student Gender',
            data: ['{{malestd}}', '{{femalestd}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 13, 1)',
                'rgba(54, 162, 23, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const ctx1 = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
        labels: ['Male Staff' , 'Female Staff'],
        datasets: [{
            label: '# of Staff Gender',
            data: ['{{malestf}}', '{{femalestf}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
				'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>

{% endblock %}