{% extends 'CoordinatorPage.html' %}
{% load crispy_forms_tags %}
{% block myheader %}
<h1 class="display-5">Membership Submission Form</h1>
<p class="lead">Here, The Annual Membership will be Submitted</p>
{% endblock %}
{% block body %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.membership_amount|as_crispy_field}}
                {{form.year|as_crispy_field}}
                {% comment %} {{form.school|as_crispy_field}}
                {{form.date_submitted|as_crispy_field}} {% endcomment %}
            </div>
        </div>
        <br>
        <button style="margin-left: 435px;" type="submit" class="btn btn-success">Submit Membership</button>
    </form>
{% endblock %}