{% extends 'StaffPage.html' %}


{% block body %}
<table class="table">
    {% comment %} <a style="background-color: #080808; border: #080808;" href="{% url 'addStudent' %}" class="btn btn-primary mb-3">Add Student</a>   {% endcomment %}
     <form method="get">
     {{myFilter.form}}
     <button class="btn btn-primary mb-3" type="SUBMIT" align="center">AJAX Search For Student
     </button>
    </form>
    <br>
    {% comment %} <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Reg Year</th>
            <th>Phyisical Disability</th>
            <th>Class</th>
            <th colspan="2" style="text-align: center;">Actions</th>
        </tr>
    </thead> {% endcomment %}
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.f_name}}</td>
            <td>{{student.l_name}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.year_reg}}</td>
            <td>{{student.physical_disability}}</td>
            <td>{{student.classe}}</td>
            <td>{{student.note}}</td>
            <td>{{student.school.school_name}}</td>

            {% comment %} <td><a href="{% url 'student_update' student.id %}" class="btn btn-sm btn-success">Update</a></td>
            <td><a href="{% url 'student_delete' student.id %}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}