{% extends 'BoardPage.html' %}
{% load crispy_forms_tags %}
{% block mytitle %}
Register Teacher
{% endblock %}
{% block myheader %}
<h1 class="display-5 text-center">Secretariat Registration</h1>
<p class="lead">Fill out Here, a Staff  will be Registered</p>
{% endblock %}

{% block schoolName %}
<li class="nav-item">

</li>
{% endblock %}

{% block body %}
<a style="background-color: #080808; border: #080808; margin-right: 50px" href="{% url 'register_staff_user' %}" class="btn btn-primary mb-3 float-right">Add Staff User</a> <br /><br />

<style>

    form button{
        margin-right: 170px;
    }

    .contain{
        display: flex;
    }
    .form-group {
        width: 70%;
    }
</style>
    <form action="" method="post" autocomplete="off" novalidate>
        {% csrf_token %}
       <div class="contain">
        <div class="form-group">
            {{form.user|as_crispy_field}}
            {{form.StaffNationalId|as_crispy_field}}
            {{form.f_name|as_crispy_field}}
            {{form.l_name|as_crispy_field}}
            {{form.gender|as_crispy_field}}            
                        
            </div>

            <div class="form-group">
            {{form.degree|as_crispy_field}}
            {{form.recruit_year|as_crispy_field}}
            {{form.phone|as_crispy_field}}
            {{form.physical_disability|as_crispy_field}}
            {{form.email|as_crispy_field}}
                       
            </div>          
                           
        </div>
        <button type="submit" class="btn btn-success float-right">Register</button>
        <br>
    </form>
{% endblock %} 