{% extends 'StaffPage.html' %}

{% block body %}
{% for message in messages %}
<div class="alert alert-success">
  <strong>Success!</strong> {{message}}.
</div>
{% endfor %}
<table class="table">
    {% comment %} <a style="background-color: #080808; border: #080808;" href="{% url 'addStudent' %}" class="btn btn-primary mb-3">Add New Beneficiary</a> {% endcomment %}
    <br>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            {% comment %} <th>Father Name</th>
            <th>Mother Name</th> {% endcomment %}
            <th>Gender</th>
            <th>DOB</th>
            <th>Corr Year</th>
            <th>Reg Year</th>
            <th>Disability</th>
            <th>Class</th>
            <th>Short Note</th>
            <th>Image</th>
            <th colspan="2" style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in page_obj %}
        <tr>
            <td>{{student.f_name}}</td>
            <td>{{student.l_name}}</td>
            {% comment %} <td>{{student.father_name}}</td>
            <td>{{student.mother_name}}</td> {% endcomment %}
            <td>{{student.gender}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.correspond_age}}</td>
            <td>{{student.year_reg}}</td>
            <td style="text-align: center;">{{student.physical_disability}}</td>
            <td>{{student.classe}}</td>
            <td>{{student.note}}</td>
            <td><img class="profile-pic" src="{{ student.st_image.url }}" width="55" height="55" alt=""></td>
            <td><a href="{% url 'student_details' student.id %}" class="btn btn-sm btn-success">Details</a></td>
            {% comment %} <td><a href="{% url 'student_delete' student.id %}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
        </tr>
        {% endfor %}
        
    </tbody>
    <a href="{% url 'homeStaff'%}" class="btn btn-sm btn-success float-left">Back</a>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}