{% extends 'StaffPage.html' %}
{% load crispy_forms_tags %}
{% block myheader %}
<h1 class="display-5">Year Submission Form</h1>
<p class="lead">Here, Provide the Annual year for the Budget to be Submitted</p>
{% endblock %}
{% block body %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.year_name|as_crispy_field}}
            </div>
        </div>
        <br>
        <button style="margin-left: 435px;" type="submit" class="btn btn-success">Create Year</button>
    </form>
{% endblock %}